.nodeview.container{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 0;
	height: 0;
}

.nodeview.planetBackground{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 53px;
	height: 106px;
	background: url($CTSprite) 0 -92px;
}

.nodeview.buttonsContainer{
	height: 32px;
	padding: 2px 0;
	width: 462px;
	position: absolute;
	bottom: 52px;
	left: 53px;
	background: url($CTSprite);
	z-index: 10;
}

.nodeview.buttonsContainerEnd{
	position: absolute;
	bottom: 0;
	right: -16px;
	background: url($CTSprite) -127px -110px;
	width: 17px;
	height: 36px;
}

.interfaceButton_Colonizar, .interfaceButton_Mensaje, .interfaceButton_Desplegar, .interfaceButton_Enviar_recursos, .interfaceButton_Atacar, .interfaceButton_Bloquear, .interfaceButton_Espiar, .interfaceButton_Informacion{
	background-image: url($CTSprite);
	width: 72px;
	height: 32px;
	cursor: pointer;
	float: left;
	margin: 0 -6px 0 -7px;
	position: relative;
	left: -4px;
}

$i: 0;
@each $rule in interfaceButton_Atacar, interfaceButton_Desplegar, interfaceButton_Enviar_recursos, interfaceButton_Bloquear, interfaceButton_Espiar, interfaceButton_Colonizar, interfaceButton_Mensaje, interfaceButton_Informacion{
	.#{$rule} {
		background-position: -20px -202px - 34px * $i;
		&:hover{
			background-position: -100px -202px - 34px * $i;
		}
	}
	$i: $i + 1;
}

.interfaceButton_Colonizar {
	background-position: -20px -372px;
	display: block;
	left: auto;
	position: absolute;
	right: -6px;
}

.nodeview.infoBox{
	width: 500px;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 53px;
	background: url($CTSprite) 0 -38px;
}

.nodeview.infoBoxEnd{
	position: absolute;
	left: 100%;
	bottom: 0;
	height: 50px;
	width: 18px;
	background: url($CTSprite) -85px -148px
}