.assistPanel.container{
	width: 1005px;
	height: 0;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	left: -$centerDisplacementByPlanetChanger;
}

.assistPanel.background{
	width: 800px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	background: url($CTSprite) -7px -626px;
	z-index: 1;
}

.assistPanel.backgroundName{
	height: 39px;
	position: absolute;
	right: 188px;
	top: 83px;
	width: 250px;
	background: url($CTSprite) -535px -760px;
}

.assistPanel.planet{
	width: 205px;
	height: 210px;
	position: absolute;
	top: -46px;
	right: 0;
	background: url($CTSprite) -807px -580px;
}

$i: 0;
@each $rule in assistPanelButtonZoomGalaxy, assistPanelButtonZoomCumulus, assistPanelButtonZoomSystem {
	.#{$rule}{
		position: absolute;
		width: 74px;
		height: 38px;
		top: 41px;
		left: 565px + 74px * $i;
		background: url($CTSprite) -808px -293px - 48px * $i;
		z-index: 10;
		cursor: pointer;
		&:hover, &.active{
			background: url($CTSprite) -808px - 97px -293px - 48px * $i;
		}
	}
$i: $i + 1;
}

$i: 0;
@each $rule in assistPanelButtonPlanets, assistPanelButtonHome {
	.#{$rule}{
		position: absolute;
		width: 121px;
		height: 37px;
		top: 1px;
		left: 568px + 111px * $i;
		background: url($CTSprite) -709px -463px - 48px * $i;
		z-index: 10;
		cursor: pointer;
		&:hover, &.active{
			background: url($CTSprite) -709px - 148px -463px - 48px * $i;
		}
	}
$i: $i + 1;
}

.assistPanel.assistant{
	width: 98px;
	height: 80px;
	float: left;
	position: relative;
	left: 4px;
	cursor: pointer;
}