@font-face {
	font-family: 'sansationbold';
	src: url('../../content/fonts/sansation_bold-webfont.eot');
	src: url('../../content/fonts/sansation_bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../content/fonts/sansation_bold-webfont.woff') format('woff'),
	url('../../content/fonts/sansation_bold-webfont.ttf') format('truetype'),
	url('../../content/fonts/sansation_bold-webfont.svg#sansationbold') format('svg');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'sansationlight';
	src: url('../../content/fonts/sansation_light-webfont.eot');
	src: url('../../content/fonts/sansation_light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../content/fonts/sansation_light-webfont.woff') format('woff'),
	url('../../content/fonts/sansation_light-webfont.ttf') format('truetype'),
	url('../../content/fonts/sansation_light-webfont.svg#sansationlight') format('svg');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'sansationregular';
	src: url('../../content/fonts/sansation_regular-webfont.eot');
	src: url('../../content/fonts/sansation_regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../content/fonts/sansation_regular-webfont.woff') format('woff'),
	url('../../content/fonts/sansation_regular-webfont.ttf') format('truetype'),
	url('../../content/fonts/sansation_regular-webfont.svg#sansationregular') format('svg');
	font-weight: normal;
	font-style: normal;
}