/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import 'bourbon/bourbon';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------*/

/*Variables*/
$CTSprite: "content/img/CTSprite.png";
$CTSpriteBP: "content/img/CTSpriteBP.png";
$galaxyBackground: "content/img/fondo_galaxia.jpg";


$centerDisplacementByPlanetChanger: 45px;

/**/

/**FONTS*/

@font-face {
    font-family: 'sansationbold';
    src: url('content/fonts/sansation_bold-webfont.eot');
    src: url('content/fonts/sansation_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('content/fonts/sansation_bold-webfont.woff') format('woff'),
         url('content/fonts/sansation_bold-webfont.ttf') format('truetype'),
         url('content/fonts/sansation_bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansationlight';
    src: url('content/fonts/sansation_light-webfont.eot');
    src: url('content/fonts/sansation_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('content/fonts/sansation_light-webfont.woff') format('woff'),
         url('content/fonts/sansation_light-webfont.ttf') format('truetype'),
         url('content/fonts/sansation_light-webfont.svg#sansationlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansationregular';
    src: url('content/fonts/sansation_regular-webfont.eot');
    src: url('content/fonts/sansation_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('content/fonts/sansation_regular-webfont.woff') format('woff'),
         url('content/fonts/sansation_regular-webfont.ttf') format('truetype'),
         url('content/fonts/sansation_regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**/

html, body{
	height: 100%;
	background: #000;
}

#body{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	min-width: 1080px;
	min-height: 640px;
}

.sCanvas, .dCanvas, .canvasBackground{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.dCanvas{
	z-index: 3;
}

.canvasBackground{
	background-image: url($galaxyBackground);
	z-index: 1;
}

.nodeview.container{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 0;
	height: 0;
}

.nodeview.planetBackground{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 53px;
	height: 106px;
	background: url($CTSprite) 0 -92px;
}

.nodeview.buttonsContainer{
	height: 32px;
	padding: 2px 0;
	width: 462px;
	position: absolute;
	bottom: 52px;
	left: 53px;
	background: url($CTSprite);
	z-index: 10;
}

.nodeview.buttonsContainerEnd{
	position: absolute;
	bottom: 0;
	right: -16px;
	background: url($CTSprite) -127px -110px;
	width: 17px;
	height: 36px;
}

.interfaceButton_Colonizar, .interfaceButton_Mensaje, .interfaceButton_Desplegar, .interfaceButton_Enviar_recursos, .interfaceButton_Atacar, .interfaceButton_Bloquear, .interfaceButton_Espiar, .interfaceButton_Informacion{
	background-image: url($CTSprite);
	width: 72px;
	height: 32px;
	cursor: pointer;
	float: left;
	margin: 0 -6px 0 -7px;
	position: relative;
	left: -4px;
}

$i: 0;
@each $rule in interfaceButton_Atacar, interfaceButton_Desplegar, interfaceButton_Enviar_recursos, interfaceButton_Bloquear, interfaceButton_Espiar, interfaceButton_Colonizar, interfaceButton_Mensaje, interfaceButton_Informacion{
	.#{$rule} {
		background-position: -20px -202px - 34px * $i;
		&:hover{
			background-position: -100px -202px - 34px * $i;
		}
	}
	$i: $i + 1;
}

.interfaceButton_Colonizar {
	background-position: -20px -372px;
	display: block;
	left: auto;
	position: absolute;
	right: -6px;
}

.nodeview.infoBox{
	width: 500px;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 53px;
	background: url($CTSprite) 0 -38px;
}

.nodeview.infoBoxEnd{
	position: absolute;
	left: 100%;
	bottom: 0;
	height: 50px;
	width: 18px;
	background: url($CTSprite) -85px -148px
}

.interfaceContainerScrollable{
	position: absolute;
	height: 0;
	top: 0;
	width: 100%;
	overflow: visible;
	overflow-x: visible;
	overflow-y: visible;
	z-index: 11;
}

.assistPanel.container{
	width: 1005px;
	height: 0;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	left: -$centerDisplacementByPlanetChanger;
}

.assistPanel.background{
	width: 800px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	background: url($CTSprite) -7px -626px;
	z-index: 1;
}

.assistPanel.backgroundName{
	height: 39px;
	position: absolute;
	right: 188px;
	top: 83px;
	width: 250px;
	background: url($CTSprite) -535px -760px;
}

.assistPanel.planet{
	width: 205px;
	height: 210px;
	position: absolute;
	top: -46px;
	right: 0;
	background: url($CTSprite) -807px -580px;
}

$i: 0;
@each $rule in assistPanelButtonZoomGalaxy, assistPanelButtonZoomCumulus, assistPanelButtonZoomSystem {
	.#{$rule}{
		position: absolute;
		width: 74px;
		height: 38px;
		top: 41px;
		left: 565px + 74px * $i;
		background: url($CTSprite) -808px -293px - 48px * $i;
		z-index: 10;
		cursor: pointer;
		&:hover, &.active{
			background: url($CTSprite) -808px - 97px -293px - 48px * $i;
		}
	}
$i: $i + 1;
}

$i: 0;
@each $rule in assistPanelButtonPlanets, assistPanelButtonHome {
	.#{$rule}{
		position: absolute;
		width: 121px;
		height: 37px;
		top: 1px;
		left: 568px + 111px * $i;
		background: url($CTSprite) -709px -463px - 48px * $i;
		z-index: 10;
		cursor: pointer;
		&:hover, &.active{
			background: url($CTSprite) -709px - 148px -463px - 48px * $i;
		}
	}
$i: $i + 1;
}

.planetView.container{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	display: none;
	left: -$centerDisplacementByPlanetChanger;
}

$i: 0;
$posyInitial: (0px, 120px, 240px, 450px);
$widths: (392, 340, 380, 500);
$posyb: 0;
$posyp: 0;
@each $rule in Lab, MineB, Shield, MineA, Defense, MineN, Shipyard, Commerce { //Este bucle posiciona los botones del planeta.

	$posyb: nth($posyInitial, floor($i / 2) + 1);

	@if $i != 0 {
		@if $i % 2 == 0{
			$posyp: $posyp + 120px;
		}
	}

	$width: nth($widths, floor($i / 2) + 1);

	$backWidth: 0;
	@if $i % 2 != 0 {
		$backWidth: -1 * (1000px - $width);
	}


	.planetView.button#{$rule} {
		width: $width + px;
		height: 120px;
		position: absolute;
		@if $i % 2 == 0 {
			left: 0;
		} @else {
			right: 0;
		}
		top: $posyp + 145px;
		background: url($CTSpriteBP) $backWidth -1*$posyb;
		display: none;
		z-index: 15;
	}
	$i: $i + 1;
}

.planetView.buttonCommerce .button_extension{
	position: absolute;
	bottom: 100%;
	height: 62px;
	width: 167px;
	left: 0;
	background: url($CTSpriteBP) -500px -388px;
}

.planetView.buttonShipyard .button_extension{
	position: absolute;
	bottom: 100%;
	height: 62px;
	width: 167px;
	right: 0;
	background: url($CTSpriteBP) -333px -388px;
}

.planetView.buttonShipyard, .planetView.buttonCommerce{
	z-index: 14;
}

.planetChange.container{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 80px;
	z-index: 11;
	cursor: pointer;
}

.planetChange.subContainer{
	position: relative;
	top: 35px;
}

.planetChange.planetContainer{
	background-color: transparent;
	position: relative;
	right: 0;
	width: 80px;
	height: 80px;
	margin: 4px 0;
	padding: 1px 0;
	border-radius: 40px 2px 2px 40px;
	transition: background-color 0.2s, width 0.3s, right 0.3s;
}

.planetChange.planetContainer:hover{
	background: transparentize(#333, 0.3);
	border: 1px solid #555;
	padding: 0;
	width: 280px;
	right: 200px;
}

.planetChange.arrow{
	border-color: transparent;
	border-right-color: #358CA4;
	border-style: solid;
	border-width: 3px;
	position: absolute;
	right: 0;
	top: 37px;
	z-index: 1;
	transition: border-width 0.1s, top 0.1s;
}

.planetChange.planetContainer:hover .planetChange.arrow{
	border-width: 7px;
	top: 33px;
}

.planetChange canvas{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.planetChange.name{
	color: #fff;
	font-family: "sansationregular";
	font-size: 14px;
	position: absolute;
	left: 0;
	top: 5px;
	background: transparentize(#333, 0.3);
	border: 1px solid #333;
	border-radius: 2px;
	padding: 1px 2px;
	transition: left 0.3s, top 0.3s, background 0.3s, border 0.3s, border-radius 0.3s;
	max-width: 72px;
	max-height: 34px;
	word-wrap: break-word;
	overflow: hidden;
	line-height: 17px;
}

.planetChange.planetContainer:hover .planetChange.name{
	left: 85px;
	top: 5px;
	background: transparent;
	border: none;
	border-color: #333;
}

.planetChange.scroll{
	width: 42px;
	left: -30px;
	height: 54px;
	background: url($CTSprite) -6px -747px;
	z-index: -1;
}

.planetChange.pageBakground{
	position: absolute;
	top: 0;
	right: 0;
	height: 27px;
	width: 80px;
	background: url($CTSprite) -3px -800px;
}

$i: 0;
@each $rule in pageBack, pageNext {
	.planetChange.#{$rule} {
		width: 40px;
		height: 27px;
		background: url($CTSprite) -3px - $i * 40px -830px;
		left: $i * 40px;
		position: absolute;
		&:hover{
			background: url($CTSprite) -3px - $i * 40px -857px;
		}
	}
	$i: $i +1;
}

.planetChange.pageNumber{
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 10px;
	text-align: center;
	color: #ccc;
	font-family: "sansationbold";
	z-index: -1;
}