$CTSprite: "../../content/img/CTSprite.png";
$CTSpriteBP: "../../content/img/CTSpriteBP.png";
$galaxyBackground: "../../content/img/fondo_galaxia.jpg";
$animatedMiniArrows: "../../content/img/animatedMiniArrows.gif";
$animatedLoading: "../../content/img/loading.gif";


$centerDisplacementByPlanetChanger: 45px;


$ColorYellowAlert: #dbbe48;
$ColorRedAlert: #ea3d2b;
$ColorGreenAlert: #85ea2b;
$ColorBlueAlert: #4bb8e5;